# Basic Python

## 1. Split this string

In [1]:
s = "Hi there Sam!"

In [7]:
print("Strings after splitting")

print(s.split())

Strings after splitting
['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [2]:
planet = "Earth"
diameter = 12742

In [8]:
string = "The diameter of {planet} is {diameter} kilometers.".format(planet = planet, diameter = diameter)
print(string)

The diameter of Earth is 12742 kilometers.

## 3. In this nest dictionary grab the word "hello"

In [3]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [9]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

# Numpy

In [4]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [10]:
#Array of 10 zeroes

a = np.zeros(10)
print("Array of 10 zeroes : ", a)

Array of 10 zeroes :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [11]:
#Array of 10 fives

b = np.ones(10)*5
print("Array of 10 fives : ", b)

Array of 10 fives :  [5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [12]:
#Array of all even integers from 20 to 35

c = np.arange(20, 35, 2)
print("Array of all Even integers from 20 to 35 : ", c)

Array of all Even integers from 20 to 35 :  [20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [13]:
#3x3 Matrix with values from 0 to 8

m = np.arange(0, 9).reshape(3,3)
print("3x3 Matrix with values from 0 to 8\n", m)

3x3 Matrix with values from 0 to 8
 [[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatinate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [14]:
#Concatenation

a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
c = np.concatenate((a,b), axis=0)
print("Concatenated array : ", c)

Concatenated array :  [1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [18]:
import pandas as pd

In [19]:
data = [['Ameena', 3], ['Thangarani', 2], ['Mubeena', 1]]

#Creating the dataframe
df = pd.DataFrame(data, columns = [' Name', 'Projects'])

#printing
print(df)

         Name  Projects
0      Ameena         3
1  Thangarani         2
2     Mubeena         1

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [20]:
dates = pd.date_range(start='01-01-2023', end = '02-10-2023', freq='D')

for date in dates:
  print(date)

2023-01-01 00:00:00
2023-01-02 00:00:00
2023-01-03 00:00:00
2023-01-04 00:00:00
2023-01-05 00:00:00
2023-01-06 00:00:00
2023-01-07 00:00:00
2023-01-08 00:00:00
2023-01-09 00:00:00
2023-01-10 00:00:00
2023-01-11 00:00:00
2023-01-12 00:00:00
2023-01-13 00:00:00
2023-01-14 00:00:00
2023-01-15 00:00:00
2023-01-16 00:00:00
2023-01-17 00:00:00
2023-01-18 00:00:00
2023-01-19 00:00:00
2023-01-20 00:00:00
2023-01-21 00:00:00
2023-01-22 00:00:00
2023-01-23 00:00:00
2023-01-24 00:00:00
2023-01-25 00:00:00
2023-01-26 00:00:00
2023-01-27 00:00:00
2023-01-28 00:00:00
2023-01-29 00:00:00
2023-01-30 00:00:00
2023-01-31 00:00:00
2023-02-01 00:00:00
2023-02-02 00:00:00
2023-02-03 00:00:00
2023-02-04 00:00:00
2023-02-05 00:00:00
2023-02-06 00:00:00
2023-02-07 00:00:00
2023-02-08 00:00:00
2023-02-09 00:00:00
2023-02-10 00:00:00

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [6]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [21]:
#Creating a DataFrame from lists

df = pd.DataFrame(lists)

print(df)

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24